#start{
    position: fixed;
    left: 160px;
    top: 240px;
}
#start button{
    background-color: rgb(25, 162, 59);
    padding: 10px 20px 10px 20px;
    z-index: 2;
    border-radius:12px;
    color: rgb(254, 254, 254);
    font-size: large;
}

#health{
    position: fixed;
    left: 10;
    top:10;
}

#health img{
    width: 40px;
    height: 40px;
}